Программа рассчитана на использование масштаба экрана 100%
Чтобы проверить свой масштаб экрана, на рабочем столе нажимаем правую кнопку мыши и выбираем "параметры экрана". В открывшемся окне будет "масштаб", его значение рекомендуется поставить на 100% для корректной работы приложения.
